body {
    border: 1px solid red;
    width: min(100rem, 100% - 2rem);
    margin: 0 auto;
    padding: 0.5rem 0 1rem;
}

header {
    border: 1px solid green;
}

h1 {
    user-select: none;
    text-align: center;
    text-transform: capitalize;
}