* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    border: 1px solid red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.logo {
    /* border: 1px solid green; */
    width: 100%;
    max-width: 640px;
}

hr.divider {
    max-width: 640px;
}

form {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

form > input {
text-align: center;
}

@media screen and (max-width:576px) {
    body {
        height: 50vh;
    }
}