* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    --color-one: #000000;
    --color-two: #3E3636;
    --color-three: #D72323;
    --color-four: #FBF9FA;
}

body {
    /* border: 1px solid red; */
    background: var(--color-four);
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 16px;
}

.logo {
    /* border: 1px solid green; */
    width: 100%;
    margin: 0 auto;
    border-bottom: 3px solid var(--color-one);
    padding-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    margin: 0 auto;
} 

.input, .btn {
    border-radius: 4px;
    font-size: 24px;
    padding: 8px;
}

.input {
    border: 2px solid var(--color-one);
    text-align: center;
}

.input:focus {
    /* border-color: var(--color-one); */
}

.btn {
    border: 2px solid var(--color-three);
    background-color: var(--color-three);
    color: var(--color-four);
}

.btn:hover {
    border-color: var(--color-four);
    /* background-color: var(--color-three); */
    /* color: var(--color-four); */
    border-radius: 8px;
}

.btn:focus {
    border-color: var(--color-three);
    background-color: var(--color-four);
    color: var(--color-three);
    border-radius: 4px;
}