* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-color: #212120;
}

body {
    font-family: 'Lato', sans-serif;
    background: url('resources/images/background-pattern.jpg') no-repeat center/cover;
}

.wrapper {
    min-height: 100svh;
    width: 100%;
    max-width: calc(500px + 2em);
    padding: 1em;
    margin: 0 auto;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    max-width: 100%;
    border-bottom: 3px solid var(--logo-color);
    padding-bottom: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

@media (max-width: 550px) {
    .inp {
        font-size: 1em;
        border-bottom-width: 0.125em;
    }

    .btn {
        padding: 0.375em;
    }
}

@media (orientation: landscape) {
    .wrapper {
        min-height: 100vh;
    }
}