* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --background-color: rgb(255, 253, 243);
    --color-one: rgb(34, 34, 34);
    --color-one-alpha: rgba(34, 34, 34, 0.5);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-container {
    text-align: center;
}

.logo {
    max-width: 400px;
    margin-bottom: 1rem;
}

.login-form {
    padding: 0rem 1rem;
    max-width: 400px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0 0.25rem 0;
    border: 2px solid var(--color-one);
    border-radius: 6px;
    font-size: 1.25rem;
}

input:focus {
    outline: none;
    border-color: var(--background-color);
    box-shadow: 0 0 0 3px var(--color-one-alpha);
    transition: box-shadow 0.3s ease;
}
