* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    --color-one: #000000;
    --color-two: #3E3636;
    --color-three: #D72323;
    --color-four: #FBF9FA;
}


/* Input */
.inp-one {
    border-radius: 4px;
    font-size: 20px;
    padding: 8px;
    border: 2px solid var(--color-one);
    text-align: center;
}

.inp-one:focus {
    /* border-color: var(--color-one); */
}


/* Button */
.btn-one {
    border-radius: 4px;
    font-size: 20px;
    padding: 8px;
}

.btn-gray {
    border: 2px solid var(--color-one);
    background-color: var(--color-four);
    color: var(--color-one);
}

.btn-gray:hover {
    border-color: var(--color-four);
    border-radius: 6px;
}

.btn-gray:focus {
    border-color: var(--color-three);
    background-color: var(--color-four);
    color: var(--color-three);
    border-radius: 4px;
}

.btn-red {
    border: 2px solid var(--color-three);
    background-color: var(--color-three);
    color: var(--color-four);
}

.btn-red:hover {
    border-color: var(--color-four);
    border-radius: 6px;
}

.btn-red:focus {
    border-color: var(--color-three);
    background-color: var(--color-four);
    color: var(--color-three);
    border-radius: 4px;
}
