* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

html {
    --background-color: hsla(50, 100%, 98%, 1);
    --border-color: hsla(0, 0%, 15%, 1);
    --placeholder-color: hsla(0, 0%, 0%, 0.6);
    --hover-color: hsl(0, 7%, 23%);
    font-size: 16px;
}

body {
    background-color: var(--background-color);
}

/* Element hides and also won't take up any space on the page */
.invisible {
    visibility: hidden;
    height: 0;
    width: 0;
    overflow: hidden;
}

/* Divider Style */
hr.divider {
    --divider-height: 0.25em;
    background-color: var(--border-color);
    width: 100%;
    height: var(--divider-height);
    border-radius: calc(0.5 * var(--divider-height));
    border: none;
}

hr.smaller {
    height: calc(0.5 * var(--divider-height));
    border-radius: calc(0.25 * var(--divider-height));
}

hr.small {
    height: calc(0.75 * var(--divider-height));
    border-radius: calc(0.375 * var(--divider-height));
}

hr.large {
    height: calc(1.25 * var(--divider-height));
    border-radius: calc(0.625 * var(--divider-height));
}

hr.larger {
    height: calc(1.5 * var(--divider-height));
    border-radius: calc(0.75 * var(--divider-height));
}

/*Input Style*/
.inp-one {
    background-color: var(--background-color);
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    padding: 0.25em;
    outline: none;
    border: none;
    border-bottom: 0.125em solid var(--border-color);
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
}

.inp-one:hover {
    filter: invert(7.5%);
    transition: 250ms;
}

.inp-one:focus {
    filter: invert(12.5%);
    transition: 250ms;
}

.inp-one::placeholder {
    color: var(--placeholder-color);
}

/* Button Style */
.btn-one {
    background-color: var(--background-color);
    color: var(--border-color);
    border: 0.125em solid var(--border-color);
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
    width: 100%;
    padding: 0.25em;
}

.btn-one:hover {
    background-color: var(--placeholder-color);
    color: var(--background-color);
    transition: 100ms;
    transition-timing-function: ease-out;
}

.btn-one:active {
    border-color: var(--background-color);
    border-radius: 0.375em;
    background-color: var(--border-color);
    color: var(--background-color);
}

.btn-one-red {
    --border-color: hsl(350, 100%, 36%);
    background-color: var(--border-color);
    color: var(--background-color);
}

.btn-one-red:hover {
    border-color: var(--background-color);
    background-color: var(--border-color);
    border-radius: 0.375em;
}

.btn-one-red:active {
    border: 0.125em solid var(--border-color);
    border-radius: 0.25em;
    background-color: var(--background-color);
    color: var(--border-color);
}

/* Accordion Style */
.accordion {
    --accordion-padding: 0.25em;
    border: 0.125em solid var(--border-color);
    border-radius: 0.25em;
    padding: var(--accordion-padding);
    width: 100%;
}

.accordion > summary {
    list-style: none;
    font-weight: bold;
    margin: 0 calc(-1 * var(--accordion-padding));
    padding: 0 var(--accordion-padding);
    color: var(--border-color);
}

.accordion:hover {
    background-color: var(--border-color);
    transition: 100ms;
    transition-timing-function: ease-in1;
}

.accordion:hover > summary {
    color: var(--background-color);
    transition: 100ms;
    transition-timing-function: ease-in;
}

.accordion[open] {
    padding-top: 0;
    background-color: var(--background-color);
}

.accordion[open] > summary {
    border-bottom: 0.125em solid var(--border-color);
    padding: var(--accordion-padding);
    background-color: var(--border-color);
    color: var(--background-color);
}

.accordion[open] *:not(:first-child) {
    margin-top: var(--accordion-padding);
}
