* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

html {
    font-size: 16px;
}

body {
    --background-color: hsla(50, 100%, 98%, 1);
    --color-one: hsla(0, 0%, 15%, 1);
    --color-two: hsla(0, 0%, 15%, 0.5);
    --color-three: hsla(0, 0%, 15%, 0.15);
    --color-red: hsla(0, 68%, 42%, 1);
    --color-green: hsla(120, 42%, 42%, 1);
    background-color: var(--background-color);
}

/* Divider Style */
hr.divider {
    --divider-height: 0.25em;
    width: 100%;
    height: var(--divider-height);
    border-radius: calc(0.5 * var(--divider-height));
    border: none;
    background-color: var(--color-one);
}

hr.smaller {
    height: calc(0.5 * var(--divider-height));
    border-radius: calc(0.25 * var(--divider-height));
}

hr.small {
    height: calc(0.75 * var(--divider-height));
    border-radius: calc(0.375 * var(--divider-height));
}

hr.large {
    height: calc(1.25 * var(--divider-height));
    border-radius: calc(0.625 * var(--divider-height));
}

hr.larger {
    height: calc(1.5 * var(--divider-height));
    border-radius: calc(0.75 * var(--divider-height));
}

/* Input Style */
.text-input {
    background-color: var(--background-color);
    font-size: 1em;
    font-weight: 500;
    width: 100%;
    padding: 0.25em;
    border: none;
    border-bottom: 0.125em solid var(--color-one);
}

.text-input:hover {
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    filter: invert(7.5%);
    transition: 250ms;
}

.text-input:focus {
    outline: none;
    border-top-right-radius: 0.25em;
    border-top-left-radius: 0.25em;
    filter: invert(12.5%);
}

.text-input::placeholder {
    color: rgba(0, 0, 0, 0.6);
}

.text-input[type="number"]::-webkit-outer-spin-button,
.text-input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.text-input[type="number"] {
    -moz-appearance: textfield;
}

/* Button Style */
.btn {
    background-color: var(--background-color);
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    user-select: none;
    width: 100%;
    padding: 0.25em;
    border: 0.125em solid var(--color-one);
    border-radius: 0.25em;
    /* transition not working, learn it if you want to use it */
    /* transition: background-color 5300ms border-color 5300ms; */
}

.btn:hover {
    color: var(--background-color);
    background-color: var(--color-two);
    border-color: var(--color-two);
}

.btn:active {
    color: var(--background-color);
    background-color: var(--color-one);
    border-color: var(--background-color);
}

.btn.red {
    background-color: var(--color-red);
    border-color: var(--color-red);
    color: var(--background-color);
}

.btn.red:hover {
    color: var(--color-one);
    border-color: var(--color-one);
}

.btn.red:active {
    color: var(--color-one);
    border-color: var(--background-color);
}

.btn.green {
    background-color: var(--color-green);
    border-color: var(--color-green);
    color: var(--background-color);
}

.btn.green:hover {
    color: var(--color-one);
    border-color: var(--color-one);
}

.btn.green:active {
    color: var(--color-one);
    border-color: var(--background-color);
}



/* Accordion Style */
.accordion {
    --thickness: 0.125em;
    border: var(--thickness) solid var(--color-one);
    border-radius: 0.25em;
    user-select: none;
}

.accordion > * {
    border-bottom: var(--thickness) solid var(--color-one);
}

.accordion > *:last-child {
    border-bottom: none;
}

.accordion summary {
    font-size: 1.25em;
    font-weight: 500;
    list-style: none;
    padding: 0.25em;
    background-color: var(--color-three);
}

.accordion > details[open] summary {
    /* border-bottom: var(--thickness) solid var(--color-one); */
    background-color: var(--color-two);
    color: var(--background-color);
}

.accordion > details > summary:hover {
    background-color: var(--color-two);
    color: var(--background-color);
}
