.wrapper {
    /* border: 1px solid green; */
    min-height: 100svh;
    width: 100%;
    max-width: 532px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    user-select: none;
}

.logo {
    /* border: 1px solid blue; */
    width: 100%;
    border-bottom: 3px solid var(--color-one);
    padding-bottom: 10px;
}

.sales-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-top: 10px;
    width: 100%;
    max-width: 300px;
}

.btn-red {
    margin-top: 10px;
}