* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-color: var(--dark-color);
    --light-text-color: var(--light-color);
    --padding: var(--card-padding);
}

body {
    font-family: 'Lato', sans-serif;
    background: url('../resources/images/background-pattern.jpg') no-repeat center/cover;
    min-height: 100svh;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Header */
header.card {
    padding: 0.75em;
    border-radius: 0;
}

/* Main */
main {
    max-height: calc(100vh - 4em);
    display: grid;
    grid-template-columns: minmax(16.5em, 1fr) 5fr;
    grid-template-rows: 1fr auto;
    gap: calc(var(--padding) * 2);
    padding: calc(var(--padding) * 2);
    justify-items: stretch;
}

.proposal-info .seller-info {
    margin-bottom: calc(var(--padding) * 2);
}

.btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.total-price {
    justify-self: end;
}
