body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    gap: 0.5em;

}

html {
    /* font-size: 64px; */
}

header {
    background-color: var(--color-one);
    color: var(--background-color);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em;
}

header > h1 {
    font-weight: 600;
}

header > .date {
    text-align: center;
    font-weight: 500;
}

.logo {
    display: none;
}

.accordion {
    width: min(80em, 100% - 1em);
    margin: 0 auto;
}

.accordion > .customer-info > .text-input {
    margin: 0 auto;
    padding: 0.5em;
    border-radius: 0;
}

.accordion > .customer-info > *:last-child {
    border-bottom: none;
    border-bottom-left-radius: 0.125em;
    border-bottom-right-radius: 0.125em;
}

.divider.small {
    width: min(80em, 100% - 1em);
    margin: 0 auto;
}

