body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    background-color: var(--border-color);
    color: var(--background-color);
    user-select: none;
}

.logo {
    height: 100%;
    /* border: 1px solid green; */
}

.title {
    /* border: 1px solid green; */
    /* margin-left: 0.25em; */
}

.time {
    /* border: 1px solid green; */
    /* margin-right: 0.5em; */
}

section {
    /* border: 1px solid red; */
}

.proposal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    margin: 0 auto;
    padding: 0.25em;
    width: min(40em, 100%);
}

.customer-info summary {
    font-size: 1.4em;
}

.prod-info summary {
    font-size: 1.25em;
}

.prod-info > .accordion {
    border-radius: 0;
}

.prod-info > .accordion:first-child {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
}

.prod-info > .accordion:last-child {
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.prod-info > .accordion:not(:first-child) {
    border-top: none;
}

.btn-one {
    font-size: 1.1em;
    text-transform: capitalize;
}

.form-btns {
    display: grid;
    grid-template-columns: 1fr 5em;
    gap: 0.25em;
}

.btn-one-black {
    grid-row: span 2;
}
