* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --logo-color: var(--dark-color);
    --light-text-color: var(--light-color);
    --sales-menu-width: 350px;
}

body {
    font-family: 'Lato', sans-serif;
    background: url('../resources/images/background-pattern.jpg') no-repeat center/cover;
}

.wrapper {
    min-height: 100svh;
    width: 100%;
    max-width: calc(500px + 2em);;
    padding: 1em;
    margin: 0 auto;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.logo {
    max-width: 100%;
    border-bottom: 0.15em solid var(--logo-color);
    padding-bottom: 0.5em;
}

.sales-menu {
    max-width: var(--sales-menu-width);
}

.btn-red {
    max-width: calc(var(--sales-menu-width) + 0.1em);
}

/* @media (max-width: 550px) {
    .inp {
        font-size: 1em;
        border-bottom-width: 0.125em;
    }

    .btn {
        padding: 0.375em;
    }

    .sales-menu h1 {
        font-size: 1.25em;
    }
} */
