*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --dark-color: rgb(33, 33, 32);
    --dark-shadow: rgba(33, 33, 32, 0.25);
    --light-color: rgb(248,248,252);
    --red-color: rgb(215, 35, 35);
    --red-shadow: rgba(215, 35, 35, 0.25);
    --yellow-color: rgb(242, 201, 76);
    --yellow-shadow: rgba(242, 201, 76, 0.25);
    --orange-color: rgb(242, 153, 74);
    --orange-shadow: rgba(242, 153, 74, 0.25);
    --green-color: rgb(39, 174, 96);
    --green-shadow: rgba(39, 174, 96, 0.25);
    --shadow-opacity: 0.5;
    /* --card-padding: 0.5em; */
}

/* Utility Classes */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

/* Input */
.inp {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
    border: none;
    border-bottom: 0.125em solid var(--dark-color);
    border-radius: 0.25em 0.25em 0 0;
    background-color: transparent;
    color: var(--dark-color);
    width: 100%;
    padding: 0.5em;
    transition: box-shadow 0.3s ease;
}

.inp:hover,
.inp:focus {
    box-shadow: 0 0 0.25em rgba(0, 0, 0, var(--shadow-opacity));
}

.inp[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Button */
.btn {
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    letter-spacing: 2px;
    border: 0.125em solid var(--dark-color);
    border-radius: 0.25em;
    background-color: transparent;
    width: 100%;
    padding: 0.375em;
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;
}

.btn:hover {
    background-color: var(--dark-color);
    color: var(--light-color);
    box-shadow: var(--dark-shadow) 0 0.5em 0.75em;
    transform: translateY(-0.125em);
}

.btn:active {
    box-shadow: none;
    transform: translateY(0);
}

.btn-red {
    background-color: var(--red-color);
    border-color: var(--red-color);
    color: var(--light-color);
}

.btn-red:hover {
    background-color: var(--red-color);
    box-shadow: var(--red-shadow) 0 0.4em 0.75em;
}

.btn-red:active {
    box-shadow: none;
}

.btn-green {
    background-color: var(--green-color);
    border-color: var(--green-color);
    color: var(--light-color);
}

.btn-green:hover {
    background-color: var(--green-color);
    box-shadow: var(--green-shadow) 0 0.4em 0.75em;
}

.btn-green:active {
    box-shadow: none;
}